@import '../abstracts/mixins';
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows:
    [header-start] 95vh [header-end decision-start] minmax(85vh, max-content)
    [decision-end home-start ] minmax(100vh, max-content)
    [home-end slider-start] 70vh
    [slider-end banner-start] 30vh [banner-end footer-start] minmax(
      35vh,
      max-content
    )
    [footer-end];
  grid-template-columns:
    [full-start] minmax(100px, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 250px) [col-end]
    )
    [center-end] minmax(100px, 1fr) [full-end];

  @include respond(big-desktop) {
    grid-template-rows:
      [header-start] 90vh [header-end decision-start] minmax(65vh, max-content)
      [decision-end home-start ] minmax(75vh, max-content)
      [home-end slider-start] 55vh
      [slider-end banner-start] 25vh [banner-end footer-start] minmax(
        20vh,
        max-content
      )
      [footer-end];
  }

  @include respond(tab-port) {
    grid-template-rows:
      [header-start] 95vh [header-end decision-start] minmax(85vh, max-content)
      [decision-end home-start ] minmax(100vh, max-content)
      [home-end slider-start] 70vh
      [slider-end banner-start] 30vh [banner-end footer-start] minmax(
        35vh,
        max-content
      )
      [footer-end];
  }

  @include respond(phone) {
    grid-template-rows:
      [header-start] 75vh [header-end decision-start] minmax(85vh, max-content)
      [decision-end home-start ] minmax(100vh, max-content)
      [home-end slider-start] minmax(70vh, max-content)
      [slider-end banner-start] 30vh [banner-end footer-start] minmax(
        35vh,
        max-content
      )
      [footer-end];

    grid-template-columns: 1fr;
  }
}
// BODY STYLE FOR ABOUT PAGE
.container-2 {
  display: grid;
  grid-template-rows:
    [header-start] 95vh [header-end main-start] minmax(100vh, max-content)
    [main-end footer-start] minmax(35vh, max-content)
    [footer-end];
  grid-template-columns:
    [full-start] minmax(100px, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 250px) [col-end]
    )
    [center-end] minmax(100px, 1fr) [full-end];

  @include respond(big-desktop) {
    grid-template-rows:
      [header-start] 95vh [header-end main-start] minmax(80vh, max-content)
      [main-end footer-start] minmax(20vh, max-content)
      [footer-end];
  }

  @include respond(phone) {
    grid-template-rows:
      [header-start] 75vh [header-end main-start] minmax(100vh, max-content)
      [main-end footer-start] minmax(35vh, max-content)
      [footer-end];

    grid-template-columns: 1fr;
  }
}

// BODY STYLE FOR CONTACT PAGE

.container-3 {
  display: grid;
  grid-template-rows:
    [header-start] 95vh [header-end main-start] minmax(170vh, max-content)
    [main-end footer-start] minmax(35vh, max-content)
    [footer-end];
  grid-template-columns:
    [full-start] minmax(100px, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 250px) [col-end]
    )
    [center-end] minmax(100px, 1fr) [full-end];

  @include respond(big-desktop) {
    grid-template-rows:
      [header-start] 95vh [header-end main-start] minmax(110vh, max-content)
      [main-end footer-start] minmax(20vh, max-content)
      [footer-end];
  }

  @include respond(phone) {
    grid-template-rows:
      [header-start] 75vh [header-end main-start] minmax(170vh, max-content)
      [main-end footer-start] minmax(35vh, max-content)
      [footer-end];

    grid-template-columns: 1fr;
  }
}

// STYLES FOR GALARY

.container-4 {
  display: grid;
  grid-template-rows:
    [header-start] 95vh [header-end gallery-start] 500vh [gallery-end footer-start] minmax(
      35vh,
      max-content
    )
    [footer-end];
  grid-template-columns:
    [full-start] minmax(100px, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 250px) [col-end]
    )
    [center-end] minmax(100px, 1fr) [full-end];

  @include respond(big-desktop) {
    grid-template-rows:
      [header-start] 95vh [header-end gallery-start] 500vh [gallery-end footer-start] minmax(
        20vh,
        max-content
      )
      [footer-end];
  }

  @include respond(tab-land) {
    grid-template-rows:
      [header-start] 75vh [header-end gallery-start] 300vh [gallery-end footer-start] minmax(
        35vh,
        max-content
      )
      [footer-end];
  }

  @include respond(tab-port) {
    grid-template-rows:
      [header-start] 75vh [header-end gallery-start] 220vh [gallery-end footer-start] minmax(
        35vh,
        max-content
      )
      [footer-end];
  }

  @include respond(phone) {
    // HEIGHT MUST BE FIXED
    grid-template-rows:
      [header-start] 75vh [header-end gallery-start] 870vh [gallery-end footer-start] minmax(
        35vh,
        max-content
      )
      [footer-end];

    grid-template-columns: 1fr;
  }
}
