@import '../abstracts/mixins';

body {
  font-family: 'Nunito Sans', sans-serif, 'Times New Roman', Times, serif;
  line-height: 1.6;
  font-size: 15px;
}

.heading {
  &__1 {
    font-size: 60px;
    font-weight: 400;

    @include respond(phone) {
      font-size: 45px;
    }

    @include respond(big-desktop) {
      font-size: 85px;
    }
  }
  &__2 {
    font-size: 35px;
    font-weight: 500;

    @include respond(phone) {
      font-size: 35px;
    }

    @include respond(big-desktop) {
      font-size: 50px;
    }
  }
  &__3 {
    font-size: 25px;
    font-weight: 400;

    @include respond(phone) {
      font-size: 20px;
    }

    @include respond(big-desktop) {
      font-size: 35px;
    }
  }

  &__4 {
    font-size: 15px;
    font-weight: 400;
  }
}
