@import '../abstracts/mixins';

body {
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.6;
  font-size: 15px;
}

.heading {
  &__1 {
    font-size: 55px;
    font-weight: 400;
    font-family: 'Tillana', cursive;

    @include respond(phone) {
      font-size: 40px;
    }

    @include respond(big-desktop) {
      font-size: 65px;
    }
  }
  &__2 {
    font-size: 30px;
    font-weight: 500;
    font-family: 'Tillana', cursive;

    @include respond(phone) {
      font-size: 27px;
    }

    @include respond(big-desktop) {
      font-size: 45px;
    }
  }
  &__3 {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Tillana', cursive;

    @include respond(phone) {
      font-size: 20px;
    }

    @include respond(big-desktop) {
      font-size: 30px;
    }
  }

  &__4 {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Tillana', cursive;
  }
}
