@import '../abstracts/mixins';

.about {
  padding-top: 3rem;
  grid-row: main-start / main-end;
  grid-column: full-start/full-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-grey);
  &__heading {
    color: var(--color-gold);
  }

  // TEXT AND IMAGES CONTAINER
  &__content {
    padding-bottom: 50px;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-row-gap: 50px;

    @include respond(tab-land) {
      display: flex;
      flex-direction: column;
    }

    @include respond(tab-port) {
      display: flex;
      flex-direction: column;
    }

    @include respond(phone) {
      display: flex;
      flex-direction: column;
    }
  }

  &__text {
    padding: 20px 120px;

    @include respond(phone) {
      padding: 20px 30px 0 30px;
      margin-bottom: 50px;
    }

    @include respond(big-desktop) {
      padding: 120px 20px 20px 120px;
    }

    &__heading {
      font-size: 23px;
      color: var(--color-gold);
      text-transform: uppercase;
      margin-top: 40px;
    }

    &__text {
      margin-top: 25px;
      font-size: 17px;

      @include respond(big-desktop) {
        font-size: 19px;
      }
    }

    &__btn:link,
    &__btn:visited {
      // all: unset;
      display: block;
      text-decoration: none;
      padding: 10px;
      margin-top: 40px;
      font-size: 18px;
      width: 170px;
      height: 50px;
      transition: all 0.2s;
    }

    &__btn:hover,
    &__btn:active {
      background-color: var(--color-gold-dark);
      transform: translateY(-2px);
    }
  }

  &__images {
    margin-top: 60px;
    padding-right: 20px;
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    @include respond(big-desktop) {
      height: 800px;
    }

    @include respond(tab-land) {
    }

    @include respond(tab-port) {
      height: auto;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }

    @include respond(phone) {
      margin-top: -50px;
    }

    &__box {
      width: 100%;
      height: 100%;
      overflow: hidden;

      @include respond(tab-port) {
        height: auto;
        overflow: visible;

        & > * {
          margin-top: 20px;
        }
      }

      &--1 {
        grid-column: 1/2;
        grid-row: 1/2;
      }

      &--2 {
        grid-column: 2/3;
        grid-row: 1/2;
      }

      &--3 {
        grid-column: 1/2;
        grid-row: 2/3;
      }

      &--4 {
        grid-column: 2/3;
        grid-row: 2/3;
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    transition: all 0.2s;
    object-fit: cover;
    object-position: top;

    @include respond(big-desktop) {
    }

    @include respond(tab-land) {
    }

    @include respond(tab-port) {
      position: relative;
    }

    @include respond(phone) {
    }
  }

  &__image:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    filter: brightness(0.75);

    @include respond(phone) {
      outline: none;
    }
  }

  @include respond(tab-land) {
    &__image:hover {
      transform: none;
      outline: none;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
